/dragSortLibrary/build
/eMobilePOSAndroid/build
/gridHeaderLibrary/build
/honeywell/build
/mDOpenCV/build
/nostraLoader/build
/stickyListHeaders/build
/viewPagerIndicator/build
*.lock
*.bin
*.log
build/intermediates/dex-cache/cache.xml
eMobilePOSAndroid/eMobilePOSAndroid.iml
.idea/libraries/
.idea/misc.xml
.idea/workspace.xml
eMobilePOSAndroid/.idea/libraries/
eMobilePOSAndroid/.idea/
.gradle/2.8/taskArtifacts/cache.properties
