<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.emobilepos">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="android.permission.MSR_OPERATION"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.MSR_OPERATION" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name="com.android.support.Global"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup">
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6fd88ec526ef9dd434f31ce165d5e68db177897c" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.magtek.mobile.android.mtlib.MTUSBService"
            android:enabled="true" />

        <activity
            android:name=".initialization.SelectAccount_FA"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main_menu"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu.MainMenu_FA"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".initialization.SelectEmployee_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".initialization.SelectPassword_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".history.HistoryTransactions_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.HistoryPayments_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.HistoryOpenInvoices_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".history.HistoryConsignment_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".history.HistoryGiftRewardLoyalty_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".history.HistoryInventoryTransfer_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".history.details.HistoryTransactionDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.details.HistoryOpenInvoicesDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.details.HistoryConsignmentDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.details.HistoryPaymentDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".history.details.HistoryInventoryTransferDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ordering.SplittedOrderSummary_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".OrderDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".payment.SelectPayMethod_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".payment.ProcessCreditCard_FA"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.android.emobilepos.RECVR3" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/ot310_device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/ot310_device_filter" />
        </activity>
        <activity
            android:name=".payment.ProcessGiftCard_FA"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.android.emobilepos.RECVR2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.ProcessCash_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.ProcessCheck_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".payment.CaptureCheck_FA"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".payment.ProcessGenius_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.emobilepos.app.VIEW_RESPONSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.TupyxCamera_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".payment.ProcessTupyx_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.tupyx.wallet.checkout.nfc" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.disable_beam_default"
                android:value="true" />
        </activity>
        <activity
            android:name=".payment.ProcessBoloro_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.disable_beam_default"
                android:value="true" />
        </activity>
        <activity
            android:name=".OnHoldActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".customer.ViewCustomers_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".customer.CreateCustomer_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.ViewCustomerDetails_FA"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ShowProductImageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".DrawReceiptActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ordering.ViewProductDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ordering.PickerProduct_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.TransparentTest" />
        <activity
            android:name=".ordering.PickerAddon_FA"
            android:exported="false"
            android:theme="@style/Theme.TransparentTest" />
        <activity
            android:name=".ordering.OrderingMain_FA"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.android.emobilepos.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.android.logo.ordering.Receipt_FR" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->
        <activity
            android:name=".ordering.OrderAttributes_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".mainmenu.restaurant.DinningTablesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ordering.OrderAttrEdit_FA"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TransparentTest"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.android.emobilepos.RECVR4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".consignment.ConsignmentMain_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".consignment.ConsignmentCheckout_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".consignment.ConsignmentHistory_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".report.ViewReport_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".report.ViewEndOfDayReport_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".shifts.ClockInOut_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".shifts.ShiftExpensesList_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shifts.ShiftExpense_FA"
            android:exported="false"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shifts.ShiftReportDetails_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name="com.android.logo.settings.SettingsCategory_FA" -->
        <!-- android:exported="false" > -->
        <!-- </activity> -->
        <activity
            android:name=".settings.ViewStoreForwardTrans_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".cardmanager.GiftCard_FA"
            android:exported="false" />
        <activity
            android:name=".cardmanager.LoyaltyCard_FA"
            android:exported="false" />
        <activity
            android:name=".cardmanager.RewardCard_FA"
            android:exported="false" />
        <activity
            android:name=".cardmanager.CardManager_FA"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.android.emobilepos.RECVR5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cardmanager.ActivateCard_FA"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cardmanager.AddBalance_FA"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cardmanager.BalanceInquiry_FA"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cardmanager.ManualAddBalance_FA"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.android.crashreport.CrashActivity" />

        <service
            android:name="com.mpowa.android.sdk.powapos.common.communication.usbsocket.PowaUsbService"
            android:enabled="true" />

        <receiver android:name="drivers.em70.utils.BCRReceiver">
            <intent-filter>
                <action android:name="android.intent.action.bcr.newdata" />
                <action android:name="android.intent.action.scanner.data" />
            </intent-filter>
        </receiver>

        <activity android:name=".payment.TipAdjustmentFA" />
        <activity
            android:name=".settings.SettingListActivity"
            android:label="@string/title_setting_list" />
        <activity
            android:name=".settings.SettingDetailActivity"
            android:label="@string/title_setting_detail"
            android:parentActivityName=".settings.SettingListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.emobilepos.settings.SettingListActivity" />
        </activity>
        <activity
            android:name=".settings.SalesAssociateConfigurationActivity"
            android:label="@string/title_activity_sales_associate_configuration" />

        <!-- <service android:name=".firebase.FirebaseInstanceIdSrv"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service
            android:name=".firebase.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".firebase.PollingNotificationService"
            android:exported="false"
            android:stopWithTask="true" />

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="pollingNotificationService.action.main" />

                <category android:name="com.emobilepos.app" />
            </intent-filter>
        </receiver>
        <!-- <service android:name=".firebase.FirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity android:name=".shifts.ShiftsActivity" />
        <activity
            android:name=".bixolon.BixolonTransactionsActivity"
            android:label="@string/title_activity_bixolon_transactions" />
        <activity
            android:name=".security.ClerkManagementActivity"
            android:label="@string/config_clerk_management" />
        <activity
            android:name=".security.ClerkManagementDetailActivity"
            android:label="@string/config_clerk_management" />
        <activity
            android:name=".restore.RestoreActivity"
            android:label="@string/title_activity_bixolon_transactions" />
        <service
            android:name=".service.SyncConfigServerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".settings.printers.DeviceListActivity"
            android:label="@string/title_device_list"></activity>
        <activity
            android:name=".settings.printers.DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName=".settings.printers.DeviceListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.emobilepos.settings.printers.DeviceListActivity" />
        </activity>
        <activity android:name=".payment.ProcessPax_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.emobilepos.app.VIEW_RESPONSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".payment.ProcessSP_FA"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.emobilepos.app.VIEW_RESPONSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.printer.service.PrinterPrintService"

            android:label="PrinterPrintService">
            <intent-filter>
                <action android:name="com.printer.aidl.PrinterPrintService" />
            </intent-filter>
        </service>
        <service android:name="com.printer.service.AllService">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>